[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW
binlog_do_db = app_db
expire_logs_days = 10
max_binlog_size = 100M
bind-address = 0.0.0.0

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
