events {}
http {
    upstream backend {
        server {{ hostvars['app1']['ansible_host'] }}:80;
        server {{ hostvars['mon']['ansible_host'] }}:80 backup;
    }
    server {
        listen 80;
        location / {
            proxy_pass http://backend;
        }
    }
}
